body{
	background-color: aqua;
	height: 98vh;
	width: 99vw;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

p{
	text-transform: uppercase;
	font-size: 1000%;
	text-align: center;
}